/* https://thecascade.dev/article/least-amount-of-css/ */
html {
    color-scheme: light dark;
}

body {
    max-width: min(100ch, 100% - 4rem);
    margin-inline: auto;
    font-family: system-ui;
    font-size: 1.25rem;
    line-height: 1.5;
}

img,
svg,
video {
    max-width: 100%;
    display: block;
}
