---

---

<main>
    <slot />
    <style>
        main {
            max-width: min(80ch, 100% - 4rem);
            margin-inline: auto;
        }

        @media (max-width: 720px) {
            main {
                max-width: calc(100% - 2em);
            }
        }
    </style>
</main>
