name: Build and Deploy Blog

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout app repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/chowieuk/chowie-dev:${{ github.sha }}

      - name: Checkout config repository
        uses: actions/checkout@v4
        with:
          repository: chowieuk/chowie-dev-config
          path: chowie-dev-config
          ssh-key: ${{ secrets.CONFIG_REPO_DEPLOY_KEY }}

      - name: Install Kustomize
        run: |
          curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" | bash
          sudo mv kustomize /usr/local/bin/

      - name: Update Staging Image
        working-directory: chowie-dev-config/apps/blog/overlays/staging
        run: |
          kustomize edit set image ghcr.io/chowieuk/chowie-dev=ghcr.io/chowieuk/chowie-dev@${{ steps.build-and-push.outputs.digest }}

      - name: Commit and push changes
        working-directory: chowie-dev-config
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions-bot@github.com"

          git add apps/blog/overlays/staging/kustomization.yaml

          git commit -m "ci(staging): update blog image to ${{ github.sha }}" || echo "No changes to commit"
          git pull --rebase origin main
          git push
